/***
@date:2020-11-01
@author:frank
@content:耀保险
***/
body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, fieldset, input, label,textarea{margin:0;padding:0;}
body{font-family:"Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;-webkit-text-size-adjust:none;font-size:14px;color:#374567;background: #F9FAFF;}
html,body {-webkit-user-select:none;user-select:none;outline:0;}
a{text-decoration:none;outline:none;color:#374567;}
input,textarea{outline:none;}
img{border:0;outline:none;}
em,i{font-style:normal;}
ul,li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix:before,.clearfix:after{content:"";display:table;height:0;font-size:0;line-height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.hide{display:none;}
input::-webkit-input-placeholder {color:#93A0B9;}
h1, h2, h3, h4, h5, h6{font-weight: normal;}

.insure-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(55, 69, 103, 0.1);
}
.header-con{
    width: 1200px;
    margin:0 auto;
}
.logo{
    float: left;
    margin-top: 13px;
}
.logo-img{
    width: 132px;
    height: 33px;
}
.header-menu{
    float: left;
    padding-left: 40px;
    margin-top: 14px;
}
.header-menu li{
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding:0 14px;
    margin-left: 25px;
}
.header-menu li.active{
    background: rgba(37, 148, 239, .1);
    border-radius: 16px;
}
.header-menu li.active a{
    color: #2594EF;
}
.header-user{
    float: right;
    line-height: 60px;
    font-size: 14px;
}
.header-user span{
    padding:0 10px;
}
.header-login{
    padding-left: 24px;
    background: url(../images/user_icon.png) no-repeat 0 center;
}
.insure-main{
    margin-top: 60px;
}
.banner-img a{
    display: block;
    width: 100%;
    height: 550px;
}
.index-title{
    padding-top: 120px;
    text-align: center;
}
.index-title h3{
    font-size: 32px;
    padding-bottom: 8px;
    position: relative;
}
.index-title h3:after{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 48px;
    height: 3px;
    background: #2594EF;
    content: '';
    margin-left: -24px;
}
.title-sub{
    color: #93A0B9;
    opacity: 0.6;
    font-size: 16px;
    margin-top: 8px;
}
.ptys{
    padding-bottom: 120px;
}
.ptys-box{
    width: 1200px;
    margin: 48px auto 0;
}
.ptys-box li{
    float: left;
    width: 360px;
    height: 500px;
    box-shadow: 0px 3px 16px rgba(60, 62, 67, 0.1);
    margin-right: 58px;
    text-align: center;
}
.ptys-box li.li-last{
    margin-right: 0;
}
.ptys-img1,.ptys-img2,.ptys-img3{
    margin: 67px auto 0;
    width: 120px;
    height: 120px;
    background: url(../images/cpqm.png) no-repeat 0 0;
}
.ptys-img2{
    background: url(../images/zyxz.png) no-repeat 0 0;
}
.ptys-img3{
    background: url(../images/jslp.png) no-repeat 0 0;
}
.ptys-title{
    font-size: 28px;
    padding-top: 47px;
}
.ptys-line{
    width: 56px;
    height: 9px;
    margin:27px auto 0;
    background: url(../images/icon_zs.png) no-repeat 0 0;
}
.ptys-sum{
    font-size: 16px;
    line-height: 34px;
    padding-top: 20px;
}
.jjfa{
    padding: 0 0 100px;   
    background: rgba(147, 160, 185, 0.1);
}
.jjfa-box{
    width: 1200px;
    margin: 0 auto;
}
.jjfa-tab{
    margin-top: 50px;
    border-bottom: 1px solid rgba(147, 160, 185, .3);
    text-align: center;
}
.jjfa-tab span{
    display: inline-block;
    position: relative;
    font-size: 16px;
    padding:0 38px 8px;
    cursor: pointer;
}
.jjfa-tab span.on{
    font-size: 18px;
    color: #2594EF;
    font-weight: bold;
}
.jjfa-tab span.on:after{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 48px;
    height: 3px;
    background: #009BEC;
    content: '';
    margin-left: -24px;
}
.jjfa-clumn{
    margin-top: 47px;
}
.jjfa-intro{
    position: relative;
}
.jjfa-top{
    position: relative;
    padding-left: 103px;
}
.jjfa-top::before{
    position: absolute;
    left: 0;
    top: 20px;
    width: 62px;
    height: 2px;
    background: #93A0B9;
    content: '';
}
.jjfaTitle1{
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
}
.jjfaTitle2{
    line-height: 31px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
}
.jjfa-wrap{
    position: relative;
    width: 995px;
    height: 397px;
    background: #00132E;
    margin-top: 26px;
    padding-left: 100px;
}
.jjfaWrap-tips{
    padding-top: 76px;
    color:#fff;
    font-size: 16px;
    line-height: 34px;
}
.jjfaWrap-list{
    width: 384px;
    padding-top: 14px;
}
.travel-list,.sport-list{
    width: 460px;
}
.jjfaWrap-list li{
    position: relative;
    float: left;
    width: 25%;
    color: #93A0B9;
    padding-left: 12px;
    box-sizing: border-box;
    margin-top: 14px;
}
.sport-list li{
    width: 33%;
}
.jjfaWrap-list li:before{
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: 4px;   
    background: #2594EF;
    border-radius: 2px;
    content: '';
    margin-top: -2px;
}
.jjfa-cur{
    position: absolute;
    bottom: 38px;
    left: 100px;
    font-size: 16px;
    color: #93A0B9;
}
.jjfa-cur span{
    color:#fff;
    font-size: 40px;
}
.jjfa-banner{
    position: absolute;
    right: 0;
    top: 0;
    width: 636px;
    height: 434px;
    overflow: hidden;
}
.datu-img{
    display: block;
    width: 636px;
    height: 434px;
}
.datu-img:hover{
    transform: scale(1.2);
    transition:all 1s linear 0s;
}
.pthz{
    padding-bottom: 120px;
}
.pthz-main{
    width: 1200px;
    margin: 0 auto;
}
.pthz-tips{
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    padding-top: 48px;
}
.pthz-list{
    padding-top: 26px;
}
.pthz-list li{
    float: left;
    width: 182px;
    height: 80px;
    border: 1px solid #DDDDDD;
    text-align: center;
    line-height: 80px;
    margin:16px 0 0 16px;
}
.pthz-list li.li-none{
    margin:0 0 0 16px;
}
.pthz-logo{
    vertical-align: middle;
}
.pthz-list li:hover{
   border-color: #2594EF;
}
.about-us{
    position: relative;
    height: 844px;
    background: url(../images/gywm_bg.png) no-repeat center 0;
}
.about-us .index-title h3{
    color:#fff;
}
.about-us .index-title .title-sub{
    color:#fff;
}
.about-tips{
    color:#fff;
    font-size: 18px;
    line-height: 42px;
    padding-top: 48px;
    text-align: center;
}
.res-btn{
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 50px auto 0;
    border:1px solid #fff;
    font-size: 18px;
}
.res-btn a{
    display: block;
    color:#fff;
}
.about-data{
    position: absolute;
    width: 1200px;
    left: 50%;
    bottom: 36px;
    margin-left: -600px;
    color:#fff;
}
.aboutData-con{
    position: relative;
    float: left;
    width: 400px;
    text-align: center;
}
.aboutData-t1{
    font-size: 16px;
}
.aboutData-t1 span{
    font-size: 80px;
    margin-right: 10px;
}
.aboutData-txt{
    margin-top: 4px;
    font-size: 16px;
}
.aboutData-con:not(:last-child):after{
    position: absolute;
    right: 0;
    top: 30px;
    width: 1px;
    height: 79px;
    background: #fff;
    opacity: 0.5;
    content: '';
}
.index-footer{
    padding:75px 0 0;   
    background: #0A1633;
}
.footer-main{
    width: 1200px;
    margin:0 auto;
    padding-bottom: 75px;
}
.footer-clumn1{
    float: left;
}
.footer-logo{
    display: block;
    width: 132px;
    height: 33px;
    background: url(../images/footer_logo.png) no-repeat 0 0;
}
.footer-copy{
    margin-top: 34px;
    font-size: 16px;    
    color: #93A0B9;
    opacity: 0.6;
}
.footer-other{
    padding-top: 12px;
    color: #93A0B9;
    opacity: 0.5;
    line-height: 28px;
}
.footer-server{
    float: right;
    padding-right: 146px;
}
.footer-title{
    color:#fff;
    font-size: 16px;
}
.footerSer-list{
    padding-top: 28px;
    line-height: 28px;
    color: #93A0B9;
    opacity: 0.5;
}
.footerSer-list li{
    cursor: pointer;
}
.footer-gzh{
    float: right;
}
.footer-ewm{
    margin-top: 28px;
}
.footer-icp{
    line-height: 60px;
    border-top:1px solid rgba(147, 160, 185, .5);
}
.icp-text{
    margin:0 auto;
    width: 1200px;
    color: #93A0B9;
    opacity: 0.4;
}
.login-main{
    margin:120px auto 0;
    width: 1196px;
    height: 662px;
    background: #FFFFFF;
    box-shadow: 0px 3px 16px rgba(60, 62, 67, 0.1);
}
.header-return{
    font-size: 16px;
}
.login-bg{
    float: left;
    margin: 179px 0 0 100px;
    background: url(../images/login_img.png) no-repeat 0 0;
    width: 489px;
    height: 326px;
}
.login-con{
    float: left;
    margin:120px 0 0 118px;
}
.login-title{
    font-size: 32px;
}
.login-type{
    font-size: 16px;
    padding: 50px 0 6px;
}
.loginRes-con{
    position: relative;
    margin-top: 10px;
    width: 340px;
    height: 46px;
    border: 1px solid #DCE1E6;
    border-radius: 2px;
}
.loginRes-input{
    width: 100%;
    height: 100%;
    border:none;
    padding-left: 56px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
}
.login-icon{
    position: absolute;
    left:0;
    top: 0;
    width: 42px;
    height: 46px;
    border-right: 1px solid #DCE1E6;
    border-radius: 2px 0px 0px 2px;
}
.login-tel{
    background: url(../images/icon_tel.png) no-repeat center center #F6F9FC;
}
.login-password{
    background: url(../images/icon_mima.png) no-repeat center center #F6F9FC;
}
.eye-icon{
    position: absolute;
    right:0;
    top: 0;
    width: 44px;
    height: 44px;
    cursor: pointer;
}
.eye-close{
    background: url(../images/eye_guan.png) no-repeat center center;
}
.eye-open{
    background: url(../images/eye_kai.png) no-repeat center center;
}
.login-rules{
    padding-top: 8px;
}
.rules-no,.rules-yes{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border:1px solid #DCE1E6;
    border-radius: 2px;
    vertical-align: middle;
    cursor: pointer;
}
.rules-yes{
    background: #374567;
    border-color: #374567;
}
.rules-yes:after{
    position: absolute;
    left: 2px;
    top:2px;
    width: 8px;
    height: 4px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    content: '';
}
.login-rules a{
    color:#2594EF;
}
.rules-txt{
    margin-left: 6px;
}
.login-btn{
    width: 340px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #2594EF;
    box-shadow: 0px 3px 6px rgba(37, 148, 239, 0.15);
    border-radius: 2px;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 23px;
}
.login-action{
    padding-top: 20px;
}
.login-other{
    float: left;
    color:#2594EF;
}
.login-res{
    float: right;
}
.login-res a{
    color:#2594EF; 
}
.login-yzm{
    background: url(../images/licon_tuxingmima.png) no-repeat center center #F6F9FC;
}
.login-msg{
    background: url(../images/icon_duanxin.png) no-repeat center center #F6F9FC;  
}
.loginRes-yzm{
    width: 288px;
}
.txmm{
    position: absolute;
    right:7px;
    top:7px;
    width: 86px;
    height: 32px;
}
.txmm-change{
    position: absolute;
    right: -54px;
    top:0;
    width: 46px;
    height: 46px;
    background: url(../images/btn_shuaxin.png) no-repeat 0 0;
    cursor: pointer;
}
.loginMsg-btn,.loginMsg-second{
    position: absolute;
    right:7px;
    top:7px;
    width: 86px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: rgba(37, 148, 239, .7);
    border-radius: 2px;
    color:#fff;
    cursor: pointer;
}
.loginMsg-second{
    cursor: not-allowed;
}
.register-step{
    position: relative;
    width: 792px;
    margin: 70px auto 0;
    height: 32px;
}
.register-step::before{
    position: absolute;
    top:50%;
    left:0;
    height: 1px;
    width: 100%;
    background: rgba(147, 160, 185, 0.2);
    content: '';
}
.step-intro{
    font-size: 16px;
    color: rgba(55, 69, 103, 0.45);
}
.step-intro span{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: rgba(55, 69, 103, 0.25);
    margin-right: 8px;
    line-height: 32px;
    text-align: center;
    border:1px solid  rgba(55, 69, 103, 0.25);
}
.res-step1{
    position: absolute;
    left: 0;
    top:0;
    background: #fff;
    padding-right: 16px;
    z-index: 2;
}
.res-step2{
    position: absolute;
    left: 50%;
    top:0;
    background: #fff;
    padding:0 16px;
    margin-left: -68px;
    z-index: 2;
}
.res-step3{
    position: absolute;
    right: 0;
    top:0;
    background: #fff;
    padding-left: 16px;
    z-index: 2;
}
.register-step .current{
    color:rgba(55, 69, 103, 1);
}
.register-step .current span{
    background: rgba(37, 148, 239, 1);
    border-color: rgba(37, 148, 239, 1);
    color:#fff;
}
.register-box{
    width: 440px;
    margin: 66px auto 0;
}
.register-intro{
    position: relative;
    margin-top: 10px;
}
.res-lable{
    display: inline-block;
    width: 90px;
    text-align: right;
}
.res-select,.res-select1,.res-select2{
    width: 340px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #DCE1E6;
    border-radius: 2px;
    padding-left: 14px;
    font-size: 14px;
}
.res-select1,.res-select2{
    width: 165px;
}
.res-select2{
    margin-left: 8px;
}
.res-input{
    width: 326px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #DCE1E6;
    border-radius: 2px;
    padding-left: 14px;
    font-size: 14px;
}
.next-btn{
    margin:38px 0 0 94px;
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color:#fff;
    font-size: 16px;
    background: #2594EF;
    box-shadow: 0px 3px 6px rgba(37, 148, 239, 0.15);
    border-radius: 2px;
    cursor: pointer;
}
.register-main .loginRes-list{
    margin-top: 40px;
}
.res-input1{
    width: 274px;
}
.register-intro .txmm{
    right:64px;
    top: 8px;
}
.register-intro .txmm-change{
    right:4px;
}
.register-intro .loginMsg-btn,.register-intro .loginMsg-second{
    right:12px;
}
.register-intro .eye-icon{
    right:10px;
}
.register-2 .login-rules{
    padding:8px 0 0 94px;
}
.register-act{
    padding:35px 0 0 94px;
}
.register-act span{
    display: inline-block;
    cursor: pointer;
}
.resAct-prev{
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #DCE1E6;
    border-radius: 2px;
    color: #93A0B9;
    font-size: 16px;
}
.res-enter{
    width: 90px;
    height: 50px;
    background: #2594EF;
    box-shadow: 0px 3px 6px rgba(37, 148, 239, 0.15);
    border-radius: 2px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-left: 10px;
}
.register-ok{
    width: 560px;
    margin:40px auto 0;
}
.resOk-top{
    text-align: center;
}
.sucess-icon{
    display: inline-block;
    width: 72px;
    height: 72px;
    background: url(../images/icon_success.png) no-repeat 0 0;
}
.resOk-txt{
    font-size: 24px;
    margin-top: 12px;
}
.resOk-box{
    margin-top: 20px;
    width: 560px;
    height: 200px;
    background: rgba(147, 160, 185, 0.1);
    border-radius: 2px;
}
.resOk-list{
    padding:22px 0 0 88px;
}
.resOk-list li{
    margin-top: 10px;
}
.resOk-list li span{
    display: inline-block;
    text-align: right;
    width: 70px;
}
.resOk-btn{
    margin:25px auto 0;
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color:#fff;
    font-size: 16px;
    background: #2594EF;
    box-shadow: 0px 3px 6px rgba(37, 148, 239, 0.15);
    border-radius: 2px;
    cursor: pointer;
}
.header-other{
    float: right;
    position: relative;
}
.header-notice{
    position: relative;
    float: left;
    margin-top:22px;
    width: 16px;
    height: 16px;
    background: url(../images/grzx_news.png) no-repeat 0 0;
    cursor: pointer;
}
.hNotice-count{
    position: absolute;
    left: 8px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color:#fff;
    font-size: 12px;
    background: #F5222D;
    text-align: center;
    line-height: 20px;
}
.headerUser-intro{
    float: left;
    padding:18px 0 0 25px;
}
.toux-img{
    vertical-align: middle;
}
.headerUser-name{
    vertical-align: middle;
    margin-left: 6px;
    padding-right: 14px;
    background: url(../images/grzx_user_down.png) no-repeat right center;
    cursor: pointer;
}
.headerUser-nav{
    position: absolute;
    right:0;
    top: 60px;
    width: 128px;
    background: #FFFFFF;
    box-shadow: 0px 3px 16px rgba(60, 62, 67, 0.1);
    border-radius: 4px;
    z-index: 11;
}
.headerUser-nav ul{
    padding: 10px 0;
}
.headerUser-nav li{
    height: 32px;
    line-height: 32px;
    text-indent: 40px;
}
.headerUser-nav li a{
    display: block;
    color:rgba(55, 69, 103, 0.6);
}
.headerUser-nav li a:hover{
    background-color: rgba(60, 62, 67, 0.05);
}
.zhuti{
    background: url(../images/grzx_zhuti.png) no-repeat 10px center;
}
.zhanghao{
    background: url(../images/grzx_zhanghao.png) no-repeat 10px center;
}
.quanxian{
    background: url(../images/grzx_quanxian.png) no-repeat 10px center;
}
.tuichu{
    background: url(../images/grzx_tuichu.png) no-repeat 10px center;
}
.tb-main{
    width: 1196px;
    margin:60px auto 0;
}
.total-banner{
    padding-top: 16px;
}
.yjtj{
    margin-top: 16px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 3px 16px rgba(60, 62, 67, 0.1);
}
.yj-top{
    border-bottom: 1px solid rgba(147, 160, 185, .3);
    padding:0 30px;
}
.yjTop-left{
    float: left;
    height: 53px;
    line-height: 53px;
}
.yj-title{
    font-size: 16px;
    font-weight: bold;
}
.yj-sum{
    position: relative;
    margin-left: 20px;
    padding-left: 12px;
    color: #93A0B9;
}
.yj-sum:before{
    position: absolute;
    left: 0;
    top:50%;
    width: 5px;
    height: 5px;
    background: #93A0B9;
    border-radius: 50%;
    margin: -3px;
    content: '';
}
.yj-total{
    padding:30px;
}
.yjTotal-clumn{
    float: left;
    width: 16.66%;
}
.yjTotal-name{
    display: inline-block;
    position: relative;
    color: rgba(55, 69, 103, 0.65);
}
.info-icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/info-anticon.png) no-repeat 0 0;
    margin-left: 6px;
    vertical-align: middle;
    cursor: pointer;
}
.info-con{
    position: absolute;
    right:-203px;
    top: -68px;
    width: 190px;
    line-height: 22px;
    padding:10px;
    background: #fff;
    box-shadow: 0px 0 6px rgba(55, 69, 103, 0.1);
    font-size: 12px;
}
.yjTotal-count{
    color: #2594EF;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
.yjbb,.bmyj,.shangping{
    margin-top: 16px;
    background: #FFFFFF;
    box-shadow: 0px 3px 16px rgba(60, 62, 67, 0.1);
    padding-bottom: 26px;
}
.yjTop-right{
    float: right;
    margin-top: 11px;
}
.yjTop-select{
    float: left;
    width: 128px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    color: rgba(55, 69, 103, 0.8);
    padding-left: 14px;
}
.yjTop-date{
    float: left;
    width: 244px;
    height: 32px;
    line-height: 32px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    color: rgba(55, 69, 103, 0.8);
    padding-left: 14px;
    margin-left: 10px;
    background: url(../images/xiala_date.png) no-repeat 230px center;
}
.yj-download{
    float: left;
    width: 64px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #2594EF;
    border-radius: 4px;
    margin-left: 10px;
    color:#fff;
    cursor: pointer;
}
.yj-table{
    padding:24px 30px 0;
}
.yj-table table{
    width: 100%;
}
.yj-table table td{
    text-align: center;
    height: 54px;
    border-bottom:1px solid #E9E9E9;
}
.yj-table table thead{
    background: #FAFAFA;
    color: rgba(55, 69, 103, 0.65);
}
.shangping{
    margin-bottom: 60px;
}
.yao-main{
    width: 1196px;
    margin:76px auto 60px;
}
.insure-menu{
    float: left;
    width: 240px;
background: #FFFFFF;
box-shadow: 0px 3px 16px rgba(60, 62, 67, 0.1);
}
.insureNav-title{
    position: relative;
    height: 60px;
    line-height: 60px;
    padding-left: 38px;
    background: url(../images/insure.png) no-repeat 16px center;
    border-bottom: 1px solid rgba(147, 160, 185, .3);
}
.insureNav-up:after,.insureNav-down:after{
    position: absolute;
    right:16px;
    top: 50%;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-left: 1px solid rgba(0,0,0,.25);
    border-bottom: 1px solid rgba(0,0,0,.25);
    transform: rotate(-45deg);
    content: '';
}
.insureNav-down:after{
    transform: rotate(-225deg);
    margin-top:0;
}
.insureNav-list{
    padding:10px 0;
}
.insureNav-list li{
    height: 40px;
    line-height: 40px;

}
.insureNav-list li a{
    padding-left: 38px;
    display: block;
    color: rgba(55, 69, 103, 0.8);
}
.insureNav-list li a:hover{
    background: #E6F7FF;
}
.insure-tb{
    float: right;
    width: 940px;
}
.insureTb-account{
    width: 880px;
    height: 60px;
    line-height: 60px;
    padding:0 30px;
    background: #FFFFFF;
    box-shadow: 0px 3px 16px rgba(60, 62, 67, 0.1);
}
.account-money{
    color: #FF4207;
}
.rechange-btn{
    display: inline-block;
    width: 64px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #2594EF;
    border-radius: 4px;
    color: #2594EF;
    margin-left: 20px;
    cursor: pointer;
}
.rechange-btn:hover{
    background:#f4f9fe
}
.insure-tbxx{
    margin-top: 16px;
    background: #fff;
    box-shadow: 0px 3px 16px rgba(60, 62, 67, 0.1);
    padding-bottom: 30px;
}
.tbxx-top{
    height: 53px;
    line-height: 53px;
    padding:0 30px;
    border-bottom: 1px solid rgba(147, 160, 185, .3);
}
.tbxx-name{
    float: left;
    font-size: 16px;
    font-weight: bold;
}
.tbxx-name span{
    font-size: 12px;
    color: #93A0B9;
    font-weight: normal;
    margin-left: 5px;
}
.tbxx-submit{
    padding:16px 30px 0;
}
.tbxx-model{
    margin-top: 12px;
    float: left;
    width: 50%;
    height: 34px;
    line-height: 34px;
}
.tbxx-label{
    display: inline-block;
    text-align: right;
    width: 84px;
}
.tbxx-select{
    width: 294px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding-left: 14px;
}
.tbxx-input{
    width: 280px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding-left: 14px;
}
.tbxx-money{
    color: #FF4207;
}
.tbxx-bill{
    float: right;
    position: relative;
}
.kpbk{
    color: #2594EF;
    cursor: pointer;
}
.kpbk-con{
    position: absolute;
    right: -30px;
    top: 48px;
    border: 1px solid #dbdbdb;
    width: 660px;
    padding-left: 10px;
    z-index: 20;
    border-radius: 2px;
    line-height: 30px;
    padding: 10px;
    background: #fff;
}
.arrow-top{
    position: absolute;
    right:49px;
    top: -8px;
    width: 15px;
    height: 8px;
    background: url(../images/arrow-top.png) no-repeat 0 0;
}
.tbxx-action{
    float: right;
    margin-top: 11px;
}
.tbxx-action span{
    float: left;
    width: 76px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color:#fff;
    background: #2594EF;
    border-radius: 4px;
    margin-left: 15px;
    cursor: pointer;
}
.table-input{
    width: 98px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    text-indent: 10px;
}
.table-select{
    width: 98px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding-left: 10px;
}
.input-number{
    width: 180px;
}
.select-sex{
    width: 80px;
}
.input-phone{
    width: 110px;
}
.insure-rules{
    padding:20px 0 0 30px;
}
.ljtb-btn{
    margin:20px auto 0;
    cursor: pointer;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #2594EF;
    opacity: 1;
    border-radius: 4px;
    color:#fff;
    font-size: 16px;
}
